@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");

.header {
  display: flex;
  background-color: #056674;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  border-bottom: 2px solid #e0ece4;
}

.header__left {
  font-family: "Sansita Swashed", cursive;
  display: flex;
  color: white;
  align-items: center;
  margin-left: 10px;
}
.header__left h1 {
  margin-left: 10px;
}

.header__right {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 10px;
}

.header__textContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.header__textContainer h3 {
  margin: 0;
}
